/* You can add global styles to this file, and also import other style files */

body { margin: 1rem; font-family: Roboto, "Helvetica Neue", sans-serif; }

.section {
  margin: 1rem 0 1rem 0;
}

.loading {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-column {
  text-align: right;
  >:not(:first-of-type) {
    margin-left: 0.5rem;
  }
  >:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}

pre {
  font-family: inherit;
}