<h1 mat-dialog-title>Add Game</h1>
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" class="form-control"  />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rating</mat-label>
        <input matInput type="number" min="1" max="10" formControlName="rating" class="form-control"  />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Release Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="releaseDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput type="text" formControlName="description" class="form-control"></textarea>
      </mat-form-field>
      <div class="form-group">
          <button mat-raised-button class="btn btn-primary" type="submit">
              {{ editing ? 'Edit' : 'Create' }}
          </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>