.games-list {
  width: 100%;

  .element-row {
    cursor: pointer;
  }
  
  .element-details {
    transition: 0.3s all;
    display: block;
    overflow: hidden;
    max-height: 500px;
    padding: 1rem 0;
  }
  .details-row {
    height: auto!important;
    background: rgba(0, 0, 0, 0.05);
  }
  .details-row-collapsed {
    > td {
      border: none;
    }
  }
  .element-details-collapsed {
    padding: 0;
    max-height: 0;
  }
}
