<mat-toolbar class="section">
    <span>The Gaming List 2020</span>
  </mat-toolbar>

<ng-container *ngIf="loading;else gamesElement">
  <div class="loading">
  <mat-spinner></mat-spinner>
</div>
</ng-container>
<ng-template #gamesElement>
  <table mat-table
        [dataSource]="dataSource" multiTemplateDataRows
        class="mat-elevation-z2 section games-list">
        
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>
    
    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef> Release Date </th>
      <td mat-cell *matCellDef="let element"> {{toDate(element.releaseDate) | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="actions-column"></th>
      <td mat-cell *matCellDef="let element" class="actions-column">
        <button mat-stroked-button (click)="editGame($event, element)">Edit</button>
        <button mat-stroked-button color="warn" (click)="deleteGame($event, element)">Delete</button>
      </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-details" [class.element-details-collapsed]="expandedElement !== element">
          <h3>Description</h3>
          <pre class="description">{{element.description}}</pre>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        (click)="toggleExpanded(element)" class="element-row" >
    </tr>
    <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="details-row" [class.details-row-collapsed]="expandedElement !== element"></tr>
  </table>
  <button mat-raised-button (click)="add()" class="section">Add Game</button>
</ng-template>